body {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

iframe {
  border: none;
  max-width: 500px;
  min-width: 400px;
  min-height: 600px;
}
